<div class="container p-4">
    <div class="row">
        {{#each belongings}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="">
                        <h3 class="card tittle text-uppercase">
                            {{titulo}}
                        </h3>
                    </a>
                    <p class="m-2">{{descripcion}}</p>
                    <p>{{timeago created_at}}</p>
                    <a href="/belongings/delete/{{id}}" class="btn btn-danger">Eliminar</a>
                    <a href="/belongings/edit/{{id}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Sin pertenencias creadas aun.</p>
                <a href="/belongings/add">Create las tuyas</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>